{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Platform Pinjam Buku</h1>
    <h2>meningkatkan literasi di Indonesia</h2>
    <br>
  </div>

<table class="table">
  <tr>
    <th>ID</th>
    <th>JUDUL</th>
    <th>PENULIS</th>
    <th>PENERBIT</th>
    <th>TAHUN TERBIT</th>
    <th>PEMILIK</th>
    <th>PEMINJAM</th>
    <th>ACTION</th>
  </tr>
  {% for x in allbuku %}
  <tr>
    <td>{{x.id}}</td>
    <td>{{x.judul_buku}}</td>
    <td>{{x.penulis}}</td>
    <td>{{x.penerbit}}</td>
    <td>{{x.tahun}}</td>
    <td>{{x.pemilik.nama}}</td>
    <td>{{x.peminjam.nama}}</td>
    <td><a class="btn btn-primary" href="/pinjam/{{x.id}}" role="button">Pinjam</a></td>
  </tr>
  {% endfor %}
</table>


</div>
{% endblock %}
